body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-1px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22893 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u22894 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u22895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u22895 {
  position:absolute;
  left:1px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u22896 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u22897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22897 {
  position:absolute;
  left:1px;
  top:55px;
  width:375px;
  height:612px;
}
#u22898 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22900 {
  position:absolute;
  left:1px;
  top:217px;
  width:373px;
  height:50px;
  text-align:left;
}
#u22901 {
  position:absolute;
  left:40px;
  top:17px;
  width:331px;
  word-wrap:break-word;
}
#u22902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22902 {
  position:absolute;
  left:12px;
  top:232px;
  width:20px;
  height:20px;
}
#u22903 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22904 {
  position:absolute;
  left:320px;
  top:234px;
  width:40px;
  height:16px;
  text-align:right;
}
#u22905 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22907 {
  position:absolute;
  left:1px;
  top:167px;
  width:373px;
  height:50px;
  text-align:left;
}
#u22908 {
  position:absolute;
  left:40px;
  top:17px;
  width:331px;
  word-wrap:break-word;
}
#u22909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22909 {
  position:absolute;
  left:12px;
  top:182px;
  width:20px;
  height:20px;
}
#u22910 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22911 {
  position:absolute;
  left:320px;
  top:184px;
  width:40px;
  height:16px;
  text-align:right;
}
#u22912 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22914 {
  position:absolute;
  left:1px;
  top:267px;
  width:373px;
  height:50px;
  text-align:left;
}
#u22915 {
  position:absolute;
  left:40px;
  top:17px;
  width:331px;
  word-wrap:break-word;
}
#u22916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22916 {
  position:absolute;
  left:12px;
  top:282px;
  width:20px;
  height:20px;
}
#u22917 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22918 {
  position:absolute;
  left:320px;
  top:284px;
  width:40px;
  height:16px;
  text-align:right;
}
#u22919 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22920 {
  position:absolute;
  left:12px;
  top:71px;
  width:118px;
  height:34px;
}
#u22921 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u22922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22923 {
  position:absolute;
  left:1px;
  top:117px;
  width:373px;
  height:50px;
  text-align:left;
}
#u22924 {
  position:absolute;
  left:40px;
  top:17px;
  width:331px;
  word-wrap:break-word;
}
#u22925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22925 {
  position:absolute;
  left:12px;
  top:132px;
  width:20px;
  height:20px;
}
#u22926 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22927 {
  position:absolute;
  left:320px;
  top:134px;
  width:40px;
  height:16px;
  text-align:right;
}
#u22928 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22930 {
  position:absolute;
  left:1px;
  top:317px;
  width:373px;
  height:50px;
  text-align:left;
}
#u22931 {
  position:absolute;
  left:40px;
  top:17px;
  width:331px;
  word-wrap:break-word;
}
#u22932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22932 {
  position:absolute;
  left:12px;
  top:332px;
  width:20px;
  height:20px;
}
#u22933 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u22934 {
  position:absolute;
  left:320px;
  top:334px;
  width:40px;
  height:16px;
  text-align:right;
}
#u22935 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u22936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u22936 {
  position:absolute;
  left:1px;
  top:389px;
  width:373px;
  height:59px;
  text-align:left;
}
#u22937 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u22938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(95, 184, 120, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22938 {
  position:absolute;
  left:302px;
  top:407px;
  width:54px;
  height:24px;
  color:#FFFFFF;
}
#u22939 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22940 {
  position:absolute;
  left:332px;
  top:411px;
  width:16px;
  height:16px;
}
#u22941 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22942 {
  position:absolute;
  left:308px;
  top:411px;
  width:21px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22943 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u22944 {
  position:absolute;
  left:20px;
  top:425px;
  width:241px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u22945 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
