body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1923px;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1923px;
}
#u5274 {
  position:absolute;
  left:2px;
  top:954px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
