body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17576 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u17577 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u17578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u17578 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u17579 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u17580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17580 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u17581 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17582 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
  overflow:hidden;
}
#u17582_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u17582_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17583 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  overflow:hidden;
}
#u17583_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17583_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17584 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  overflow:hidden;
  touch-action:pan-y;
}
#u17584_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17584_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17585 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17586 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u17584_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17584_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17587 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17588 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u17584_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17584_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17589 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17590 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u17584_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17584_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17591 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u17592 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  word-wrap:break-word;
}
#u17593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u17594 {
  position:absolute;
  left:162px;
  top:153px;
  width:8px;
  height:8px;
}
#u17594_img.selected {
}
#u17594.selected {
}
#u17595 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u17596 {
  position:absolute;
  left:176px;
  top:153px;
  width:8px;
  height:8px;
}
#u17596_img.selected {
}
#u17596.selected {
}
#u17597 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u17598 {
  position:absolute;
  left:191px;
  top:153px;
  width:8px;
  height:8px;
}
#u17598_img.selected {
}
#u17598.selected {
}
#u17599 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u17600 {
  position:absolute;
  left:205px;
  top:153px;
  width:8px;
  height:8px;
}
#u17600_img.selected {
}
#u17600.selected {
}
#u17601 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17602 {
  position:absolute;
  left:105px;
  top:201px;
  width:165px;
  height:30px;
}
#u17603 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u17604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17604 {
  position:absolute;
  left:29px;
  top:251px;
  width:318px;
  height:128px;
}
#u17605 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u17606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17606 {
  position:absolute;
  left:105px;
  top:405px;
  width:165px;
  height:30px;
}
#u17607 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u17608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:291px;
}
#u17608 {
  position:absolute;
  left:187px;
  top:455px;
  width:1px;
  height:290px;
}
#u17609 {
  position:absolute;
  left:2px;
  top:137px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17610 {
  position:absolute;
  left:180px;
  top:470px;
  width:15px;
  height:15px;
}
#u17611 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17612 {
  position:absolute;
  left:16px;
  top:470px;
  width:30px;
  height:30px;
}
#u17613 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17614 {
  position:absolute;
  left:58px;
  top:465px;
  width:37px;
  height:16px;
}
#u17615 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17616 {
  position:absolute;
  left:58px;
  top:491px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17617 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u17618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17618 {
  position:absolute;
  left:180px;
  top:531px;
  width:15px;
  height:15px;
}
#u17619 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17620 {
  position:absolute;
  left:207px;
  top:523px;
  width:30px;
  height:30px;
}
#u17621 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17622 {
  position:absolute;
  left:249px;
  top:518px;
  width:37px;
  height:16px;
}
#u17623 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17624 {
  position:absolute;
  left:249px;
  top:544px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17625 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u17626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17626 {
  position:absolute;
  left:180px;
  top:581px;
  width:15px;
  height:15px;
}
#u17627 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17628 {
  position:absolute;
  left:16px;
  top:579px;
  width:30px;
  height:30px;
}
#u17629 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17630 {
  position:absolute;
  left:58px;
  top:574px;
  width:37px;
  height:16px;
}
#u17631 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17632 {
  position:absolute;
  left:58px;
  top:600px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17633 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u17634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17634 {
  position:absolute;
  left:180px;
  top:648px;
  width:15px;
  height:15px;
}
#u17635 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17636 {
  position:absolute;
  left:207px;
  top:640px;
  width:30px;
  height:30px;
}
#u17637 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17638 {
  position:absolute;
  left:249px;
  top:635px;
  width:37px;
  height:16px;
}
#u17639 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17640 {
  position:absolute;
  left:249px;
  top:661px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17641 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u17642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u17642 {
  position:absolute;
  left:180px;
  top:700px;
  width:15px;
  height:15px;
}
#u17643 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17644 {
  position:absolute;
  left:16px;
  top:700px;
  width:30px;
  height:30px;
}
#u17645 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17646 {
  position:absolute;
  left:58px;
  top:695px;
  width:37px;
  height:16px;
}
#u17647 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17648 {
  position:absolute;
  left:58px;
  top:721px;
  width:120px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17649 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u17650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17650 {
  position:absolute;
  left:144px;
  top:765px;
  width:87px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u17651 {
  position:absolute;
  left:2px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u17652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17652 {
  position:absolute;
  left:105px;
  top:825px;
  width:165px;
  height:30px;
}
#u17653 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u17654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17655 {
  position:absolute;
  left:15px;
  top:880px;
  width:40px;
  height:40px;
}
#u17656 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17657 {
  position:absolute;
  left:72px;
  top:882px;
  width:113px;
  height:16px;
}
#u17658 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u17659 {
  position:absolute;
  left:340px;
  top:889px;
  width:9px;
  height:16px;
  color:#666666;
}
#u17660 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u17661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u17661 {
  position:absolute;
  left:73px;
  top:905px;
  width:68px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u17662 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u17663 {
  position:absolute;
  left:144px;
  top:1061px;
  width:87px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u17664 {
  position:absolute;
  left:2px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u17665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17665 {
  position:absolute;
  left:140px;
  top:1320px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17666 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:171px;
}
#u17667 {
  position:absolute;
  left:21px;
  top:1120px;
  width:334px;
  height:170px;
}
#u17668 {
  position:absolute;
  left:2px;
  top:77px;
  width:330px;
  word-wrap:break-word;
}
#u17669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17670 {
  position:absolute;
  left:15px;
  top:934px;
  width:40px;
  height:40px;
}
#u17671 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17672 {
  position:absolute;
  left:72px;
  top:936px;
  width:113px;
  height:16px;
}
#u17673 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u17674 {
  position:absolute;
  left:340px;
  top:943px;
  width:9px;
  height:16px;
  color:#666666;
}
#u17675 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u17676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u17676 {
  position:absolute;
  left:73px;
  top:959px;
  width:68px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u17677 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17679 {
  position:absolute;
  left:15px;
  top:995px;
  width:40px;
  height:40px;
}
#u17680 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17681 {
  position:absolute;
  left:72px;
  top:997px;
  width:113px;
  height:16px;
}
#u17682 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u17683 {
  position:absolute;
  left:340px;
  top:1004px;
  width:9px;
  height:16px;
  color:#666666;
}
#u17684 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u17685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u17685 {
  position:absolute;
  left:73px;
  top:1020px;
  width:68px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u17686 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
