body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10167 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:590px;
}
#u10168 {
  position:absolute;
  left:2px;
  top:287px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10169 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10170 {
  position:absolute;
  left:30px;
  top:16px;
  width:468px;
  word-wrap:break-word;
}
#u10171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10171 {
  position:absolute;
  left:460px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u10172 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u10173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u10173 {
  position:absolute;
  left:298px;
  top:493px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u10173_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u10173.mouseDown {
}
#u10174 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u10175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10175 {
  position:absolute;
  left:390px;
  top:493px;
  width:80px;
  height:35px;
}
#u10176 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u10177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10177 {
  position:absolute;
  left:28px;
  top:209px;
  width:62px;
  height:16px;
}
#u10178 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u10179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10179 {
  position:absolute;
  left:28px;
  top:244px;
  width:90px;
  height:30px;
}
#u10180 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u10181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10181 {
  position:absolute;
  left:27px;
  top:294px;
  width:373px;
  height:120px;
}
#u10182 {
  position:absolute;
  left:2px;
  top:52px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10183 {
  position:absolute;
  left:28px;
  top:295px;
  width:371px;
  height:30px;
  text-align:left;
}
#u10184 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u10185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10185 {
  position:absolute;
  left:375px;
  top:299px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u10186 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u10187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10187 {
  position:absolute;
  left:28px;
  top:325px;
  width:371px;
  height:30px;
  text-align:left;
}
#u10188 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u10189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10189 {
  position:absolute;
  left:375px;
  top:329px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u10190 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u10191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10191 {
  position:absolute;
  left:28px;
  top:355px;
  width:371px;
  height:30px;
  text-align:left;
}
#u10192 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u10193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10193 {
  position:absolute;
  left:375px;
  top:359px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u10194 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u10195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10195 {
  position:absolute;
  left:28px;
  top:385px;
  width:371px;
  height:30px;
  text-align:left;
}
#u10196 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u10197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10197 {
  position:absolute;
  left:375px;
  top:389px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u10198 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u10199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10199 {
  position:absolute;
  left:28px;
  top:78px;
  width:62px;
  height:16px;
}
#u10200 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u10201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10201 {
  position:absolute;
  left:28px;
  top:113px;
  width:90px;
  height:30px;
}
#u10202 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u10203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10203 {
  position:absolute;
  left:28px;
  top:160px;
  width:371px;
  height:35px;
  text-align:left;
}
#u10204 {
  position:absolute;
  left:20px;
  top:10px;
  width:349px;
  word-wrap:break-word;
}
#u10205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10205 {
  position:absolute;
  left:375px;
  top:169px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u10206 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
