body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9597 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:590px;
}
#u9598 {
  position:absolute;
  left:2px;
  top:287px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9599 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9600 {
  position:absolute;
  left:30px;
  top:16px;
  width:468px;
  word-wrap:break-word;
}
#u9601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9601 {
  position:absolute;
  left:460px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u9602 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u9603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9603 {
  position:absolute;
  left:298px;
  top:493px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9603_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u9603.mouseDown {
}
#u9604 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u9605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9605 {
  position:absolute;
  left:390px;
  top:493px;
  width:80px;
  height:35px;
}
#u9606 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u9607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9607 {
  position:absolute;
  left:28px;
  top:209px;
  width:62px;
  height:16px;
}
#u9608 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9609 {
  position:absolute;
  left:28px;
  top:244px;
  width:90px;
  height:30px;
}
#u9610 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9611 {
  position:absolute;
  left:27px;
  top:294px;
  width:373px;
  height:120px;
}
#u9612 {
  position:absolute;
  left:2px;
  top:52px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9613 {
  position:absolute;
  left:28px;
  top:295px;
  width:371px;
  height:30px;
  text-align:left;
}
#u9614 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u9615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9615 {
  position:absolute;
  left:375px;
  top:299px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u9616 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u9617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9617 {
  position:absolute;
  left:28px;
  top:325px;
  width:371px;
  height:30px;
  text-align:left;
}
#u9618 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u9619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9619 {
  position:absolute;
  left:375px;
  top:329px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u9620 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u9621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9621 {
  position:absolute;
  left:28px;
  top:355px;
  width:371px;
  height:30px;
  text-align:left;
}
#u9622 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u9623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9623 {
  position:absolute;
  left:375px;
  top:359px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u9624 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u9625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9625 {
  position:absolute;
  left:28px;
  top:385px;
  width:371px;
  height:30px;
  text-align:left;
}
#u9626 {
  position:absolute;
  left:20px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u9627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9627 {
  position:absolute;
  left:375px;
  top:389px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u9628 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u9629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9629 {
  position:absolute;
  left:28px;
  top:78px;
  width:62px;
  height:16px;
}
#u9630 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9631 {
  position:absolute;
  left:28px;
  top:113px;
  width:90px;
  height:30px;
}
#u9632 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u9633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9633 {
  position:absolute;
  left:28px;
  top:160px;
  width:371px;
  height:35px;
  text-align:left;
}
#u9634 {
  position:absolute;
  left:20px;
  top:10px;
  width:349px;
  word-wrap:break-word;
}
#u9635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9635 {
  position:absolute;
  left:375px;
  top:169px;
  width:18px;
  height:18px;
  font-size:11px;
  color:#FFFFFF;
}
#u9636 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
