body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:606px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:606px;
}
#u6 {
  position:absolute;
  left:2px;
  top:295px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:140px;
  background:inherit;
  background-color:rgba(42, 120, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:468px;
  top:118px;
  width:370px;
  height:140px;
}
#u8 {
  position:absolute;
  left:2px;
  top:62px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u9 {
  position:absolute;
  left:579px;
  top:166px;
  width:45px;
  height:45px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:634px;
  top:166px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:634px;
  top:188px;
  width:87px;
  height:16px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:312px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:468px;
  top:258px;
  width:370px;
  height:312px;
}
#u16 {
  position:absolute;
  left:2px;
  top:148px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:540px;
  top:291px;
  width:260px;
  height:35px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:540px;
  top:382px;
  width:260px;
  height:35px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:540px;
  top:427px;
  width:260px;
  height:35px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:510px;
  top:299px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:510px;
  top:390px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:510px;
  top:435px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:567px;
  top:482px;
  width:193px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:579px;
  top:540px;
  width:169px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:540px;
  top:337px;
  width:167px;
  height:35px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:510px;
  top:345px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u33 {
  position:absolute;
  left:717px;
  top:337px;
  width:73px;
  height:35px;
  font-size:12px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
