body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16554 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u16555 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u16556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16556 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u16557 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u16558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16558 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u16559 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:199px;
}
#u16560 {
  position:absolute;
  left:89px;
  top:201px;
  width:198px;
  height:199px;
}
#u16561 {
  position:absolute;
  left:2px;
  top:92px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16560_ann {
  position:absolute;
  left:280px;
  top:197px;
  width:1px;
  height:1px;
}
