body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6270 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:530px;
}
#u6271 {
  position:absolute;
  left:2px;
  top:257px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6272 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6273 {
  position:absolute;
  left:30px;
  top:16px;
  width:548px;
  word-wrap:break-word;
}
#u6274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6274 {
  position:absolute;
  left:540px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u6275 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u6276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u6276 {
  position:absolute;
  left:342px;
  top:460px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u6276_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u6276.mouseDown {
}
#u6277 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6278 {
  position:absolute;
  left:434px;
  top:460px;
  width:80px;
  height:35px;
}
#u6279 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u6280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6280 {
  position:absolute;
  left:30px;
  top:75px;
  width:62px;
  height:16px;
}
#u6281 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6280_ann {
  position:absolute;
  left:85px;
  top:71px;
  width:1px;
  height:1px;
}
#u6282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6282 {
  position:absolute;
  left:30px;
  top:330px;
  width:43px;
  height:16px;
}
#u6283 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6284 {
  position:absolute;
  left:30px;
  top:364px;
  width:208px;
  height:36px;
}
#u6285 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u6286 {
  position:absolute;
  left:30px;
  top:105px;
  width:484px;
  height:36px;
}
#u6286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6286_input:disabled {
  color:grayText;
}
#u6287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6287 {
  position:absolute;
  left:38px;
  top:176px;
  width:62px;
  height:16px;
}
#u6288 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6289 {
  position:absolute;
  left:298px;
  top:176px;
  width:62px;
  height:16px;
}
#u6290 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:2px;
}
#u6291 {
  position:absolute;
  left:30px;
  top:289px;
  width:484px;
  height:1px;
}
#u6292 {
  position:absolute;
  left:2px;
  top:-8px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6293 {
  position:absolute;
  left:30px;
  top:202px;
  width:216px;
  height:36px;
}
#u6294 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u6295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6295 {
  position:absolute;
  left:298px;
  top:202px;
  width:216px;
  height:36px;
}
#u6296 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
