body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:885px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14899 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:885px;
}
#u14900 {
  position:absolute;
  left:2px;
  top:434px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14901 {
  position:absolute;
  left:1px;
  top:193px;
  width:373px;
  height:277px;
}
#u14902 {
  position:absolute;
  left:2px;
  top:130px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u14903 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u14904 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u14905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u14905 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u14906 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u14907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:138px;
}
#u14907 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:138px;
}
#u14908 {
  position:absolute;
  left:2px;
  top:61px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14910 {
  position:absolute;
  left:211px;
  top:208px;
  width:45px;
  height:45px;
}
#u14911 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14912 {
  position:absolute;
  left:200px;
  top:263px;
  width:66px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14913 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14915 {
  position:absolute;
  left:118px;
  top:208px;
  width:45px;
  height:45px;
}
#u14916 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14917 {
  position:absolute;
  left:115px;
  top:263px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14918 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14920 {
  position:absolute;
  left:26px;
  top:299px;
  width:45px;
  height:45px;
}
#u14921 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14922 {
  position:absolute;
  left:22px;
  top:354px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14923 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14925 {
  position:absolute;
  left:120px;
  top:299px;
  width:45px;
  height:45px;
}
#u14926 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14927 {
  position:absolute;
  left:109px;
  top:354px;
  width:66px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14928 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14930 {
  position:absolute;
  left:211px;
  top:299px;
  width:45px;
  height:45px;
}
#u14931 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14932 {
  position:absolute;
  left:207px;
  top:354px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14933 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14935 {
  position:absolute;
  left:308px;
  top:208px;
  width:45px;
  height:45px;
}
#u14936 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14937 {
  position:absolute;
  left:298px;
  top:263px;
  width:66px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14938 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14939 {
  position:absolute;
  left:1px;
  top:482px;
  width:373px;
  height:98px;
}
#u14940 {
  position:absolute;
  left:2px;
  top:41px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14941 {
  position:absolute;
  left:17px;
  top:494px;
  width:347px;
  height:32px;
}
#u14942 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u14943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14943 {
  position:absolute;
  left:19px;
  top:545px;
  width:20px;
  height:20px;
}
#u14944 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14945 {
  position:absolute;
  left:48px;
  top:548px;
  width:102px;
  height:16px;
  color:#666666;
}
#u14946 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u14947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14947 {
  position:absolute;
  left:290px;
  top:547px;
  width:20px;
  height:20px;
}
#u14948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14949 {
  position:absolute;
  left:319px;
  top:549px;
  width:43px;
  height:16px;
  color:#666666;
}
#u14950 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14951 {
  position:absolute;
  left:1px;
  top:581px;
  width:373px;
  height:98px;
}
#u14952 {
  position:absolute;
  left:2px;
  top:41px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14953 {
  position:absolute;
  left:17px;
  top:593px;
  width:347px;
  height:32px;
}
#u14954 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u14955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14955 {
  position:absolute;
  left:19px;
  top:644px;
  width:20px;
  height:20px;
}
#u14956 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14957 {
  position:absolute;
  left:48px;
  top:647px;
  width:109px;
  height:16px;
  color:#666666;
}
#u14958 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14959 {
  position:absolute;
  left:290px;
  top:646px;
  width:20px;
  height:20px;
}
#u14960 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14961 {
  position:absolute;
  left:319px;
  top:648px;
  width:43px;
  height:16px;
  color:#666666;
}
#u14962 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14963 {
  position:absolute;
  left:0px;
  top:680px;
  width:373px;
  height:98px;
}
#u14964 {
  position:absolute;
  left:2px;
  top:41px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14965 {
  position:absolute;
  left:16px;
  top:692px;
  width:347px;
  height:32px;
}
#u14966 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u14967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14967 {
  position:absolute;
  left:18px;
  top:743px;
  width:20px;
  height:20px;
}
#u14968 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14969 {
  position:absolute;
  left:47px;
  top:746px;
  width:109px;
  height:16px;
  color:#666666;
}
#u14970 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14971 {
  position:absolute;
  left:289px;
  top:745px;
  width:20px;
  height:20px;
}
#u14972 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14973 {
  position:absolute;
  left:318px;
  top:747px;
  width:43px;
  height:16px;
  color:#666666;
}
#u14974 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:228px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14975 {
  position:absolute;
  left:420px;
  top:482px;
  width:240px;
  height:228px;
}
#u14976 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u14977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:95px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14977 {
  position:absolute;
  left:420px;
  top:55px;
  width:260px;
  height:95px;
}
#u14978 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u14979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u14979 {
  position:absolute;
  left:6px;
  top:496px;
  width:8px;
  height:8px;
}
#u14980 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14982 {
  position:absolute;
  left:300px;
  top:299px;
  width:45px;
  height:45px;
}
#u14983 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14984 {
  position:absolute;
  left:291px;
  top:354px;
  width:66px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14985 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14987 {
  position:absolute;
  left:25px;
  top:208px;
  width:45px;
  height:45px;
}
#u14988 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14989 {
  position:absolute;
  left:22px;
  top:263px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14990 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14992 {
  position:absolute;
  left:25px;
  top:389px;
  width:45px;
  height:45px;
}
#u14993 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14994 {
  position:absolute;
  left:21px;
  top:444px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u14995 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14997 {
  position:absolute;
  left:118px;
  top:389px;
  width:45px;
  height:45px;
}
#u14998 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u14999 {
  position:absolute;
  left:116px;
  top:444px;
  width:53px;
  height:16px;
  font-size:13px;
  text-align:center;
}
#u15000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
