body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:410px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:370px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u17067 {
  position:absolute;
  left:40px;
  top:50px;
  width:410px;
  height:370px;
  font-size:14px;
}
#u17068 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
