body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1968px;
}
#u5368 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1968px;
}
#u5369 {
  position:absolute;
  left:2px;
  top:976px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
