body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21933 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:605px;
}
#u21934 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21935 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u21936 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u21937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21937 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21938 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u21939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u21940 {
  position:absolute;
  left:1px;
  top:55px;
  width:373px;
  height:55px;
  text-align:right;
}
#u21941 {
  position:absolute;
  left:2px;
  top:20px;
  width:369px;
  word-wrap:break-word;
}
#u21942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21942 {
  position:absolute;
  left:300px;
  top:75px;
  width:51px;
  height:16px;
}
#u21943 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21944 {
  position:absolute;
  left:270px;
  top:73px;
  width:20px;
  height:20px;
}
#u21945 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21946 {
  position:absolute;
  left:20px;
  top:65px;
  width:121px;
  height:16px;
}
#u21947 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u21948 {
  position:absolute;
  left:20px;
  top:89px;
  width:51px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u21949 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u21951 {
  position:absolute;
  left:1px;
  top:111px;
  width:373px;
  height:55px;
  text-align:right;
}
#u21952 {
  position:absolute;
  left:2px;
  top:20px;
  width:369px;
  word-wrap:break-word;
}
#u21953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21953 {
  position:absolute;
  left:300px;
  top:131px;
  width:51px;
  height:16px;
}
#u21954 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21955 {
  position:absolute;
  left:270px;
  top:129px;
  width:20px;
  height:20px;
}
#u21956 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21957 {
  position:absolute;
  left:20px;
  top:121px;
  width:121px;
  height:16px;
}
#u21958 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u21959 {
  position:absolute;
  left:20px;
  top:145px;
  width:82px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u21960 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u21961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u21962 {
  position:absolute;
  left:1px;
  top:167px;
  width:373px;
  height:55px;
  text-align:right;
}
#u21963 {
  position:absolute;
  left:2px;
  top:20px;
  width:369px;
  word-wrap:break-word;
}
#u21964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21964 {
  position:absolute;
  left:300px;
  top:187px;
  width:51px;
  height:16px;
}
#u21965 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21966 {
  position:absolute;
  left:270px;
  top:185px;
  width:20px;
  height:20px;
}
#u21967 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21968 {
  position:absolute;
  left:20px;
  top:177px;
  width:121px;
  height:16px;
}
#u21969 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u21970 {
  position:absolute;
  left:20px;
  top:201px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u21971 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u21973 {
  position:absolute;
  left:1px;
  top:223px;
  width:373px;
  height:55px;
  text-align:right;
}
#u21974 {
  position:absolute;
  left:2px;
  top:20px;
  width:369px;
  word-wrap:break-word;
}
#u21975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21975 {
  position:absolute;
  left:300px;
  top:243px;
  width:51px;
  height:16px;
}
#u21976 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u21977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21977 {
  position:absolute;
  left:270px;
  top:241px;
  width:20px;
  height:20px;
}
#u21978 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21979 {
  position:absolute;
  left:20px;
  top:233px;
  width:121px;
  height:16px;
}
#u21980 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u21981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u21981 {
  position:absolute;
  left:20px;
  top:257px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u21982 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:275px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21983 {
  position:absolute;
  left:420px;
  top:55px;
  width:220px;
  height:275px;
}
#u21984 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
