body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:360px;
}
#u5350 {
  position:absolute;
  left:2px;
  top:172px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5351 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5352 {
  position:absolute;
  left:30px;
  top:16px;
  width:418px;
  word-wrap:break-word;
}
#u5353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5353 {
  position:absolute;
  left:410px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u5354 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u5355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5355 {
  position:absolute;
  left:248px;
  top:295px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5355_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u5355.mouseDown {
}
#u5356 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5357 {
  position:absolute;
  left:340px;
  top:295px;
  width:80px;
  height:35px;
}
#u5358 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5359 {
  position:absolute;
  left:33px;
  top:151px;
  width:56px;
  height:16px;
}
#u5360 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u5361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5362 {
  position:absolute;
  left:33px;
  top:180px;
  width:283px;
  height:30px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:7px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364 {
  position:absolute;
  left:37px;
  top:185px;
  width:274px;
  height:19px;
}
#u5364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5365 {
  position:absolute;
  left:33px;
  top:71px;
  width:57px;
  height:16px;
}
#u5366 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5367 {
  position:absolute;
  left:33px;
  top:97px;
  width:283px;
  height:30px;
}
#u5367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5367_input:disabled {
  color:grayText;
}
