body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2975 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:290px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:137px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u2977 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u2978 {
  position:absolute;
  left:30px;
  top:16px;
  width:288px;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2979 {
  position:absolute;
  left:280px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u2980 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2981 {
  position:absolute;
  left:66px;
  top:235px;
  width:190px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2981_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u2981.mouseDown {
}
#u2982 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u2983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2983 {
  position:absolute;
  left:66px;
  top:190px;
  width:190px;
  height:35px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2985 {
  position:absolute;
  left:57px;
  top:84px;
  width:207px;
  height:32px;
}
#u2986 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2987 {
  position:absolute;
  left:66px;
  top:145px;
  width:190px;
  height:35px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
