body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u14854 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u14855 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u14856 {
  position:absolute;
  left:290px;
  top:414px;
  width:29px;
  height:16px;
  color:#199ED8;
}
#u14857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14858 {
  position:absolute;
  left:42px;
  top:457px;
  width:290px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
