body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:570px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22018 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:605px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22020 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u22021 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u22022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u22022 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u22023 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u22024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u22024 {
  position:absolute;
  left:21px;
  top:65px;
  width:205px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u22025 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u22026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22026 {
  position:absolute;
  left:325px;
  top:20px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u22029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u22029 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:80px;
}
.u22030 {
  position:absolute;
  left:2px;
  top:32px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
.u22031 {
  position:absolute;
  left:48px;
  top:15px;
  width:50px;
  height:50px;
}
.u22032 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22033 {
  position:absolute;
  left:21px;
  top:32px;
  width:19px;
  height:16px;
}
.u22034 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u22033_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u22035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u22035 {
  position:absolute;
  left:108px;
  top:24px;
  width:29px;
  height:16px;
}
.u22036 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u22037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u22037 {
  position:absolute;
  left:108px;
  top:48px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u22038 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
.u22039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u22039 {
  position:absolute;
  left:326px;
  top:23px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u22040 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22028-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:80px;
}
#u22028-2 {
  position:absolute;
  left:0px;
  top:81px;
  width:374px;
  height:80px;
}
#u22028-3 {
  position:absolute;
  left:0px;
  top:162px;
  width:374px;
  height:80px;
}
#u22028 {
  position:absolute;
  left:0px;
  top:89px;
  width:374px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u22041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u22041 {
  position:absolute;
  left:420px;
  top:89px;
  width:150px;
  height:150px;
}
#u22042 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
