body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19805 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u19806 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u19807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19807 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u19808 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u19809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19809 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u19810 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:203px;
}
#u19811 {
  position:absolute;
  left:86px;
  top:200px;
  width:203px;
  height:203px;
}
#u19812 {
  position:absolute;
  left:2px;
  top:94px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19813 {
  position:absolute;
  left:321px;
  top:20px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u19814 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19813_ann {
  position:absolute;
  left:343px;
  top:16px;
  width:1px;
  height:1px;
}
#u19815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19815 {
  position:absolute;
  left:0px;
  top:540px;
  width:375px;
  height:127px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:56px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19818 {
  position:absolute;
  left:20px;
  top:560px;
  width:60px;
  height:60px;
}
#u19819 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19820 {
  position:absolute;
  left:22px;
  top:634px;
  width:57px;
  height:16px;
}
#u19821 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19823 {
  position:absolute;
  left:124px;
  top:560px;
  width:60px;
  height:60px;
}
#u19824 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19825 {
  position:absolute;
  left:122px;
  top:634px;
  width:65px;
  height:16px;
}
#u19826 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19828 {
  position:absolute;
  left:229px;
  top:560px;
  width:60px;
  height:60px;
}
#u19829 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19830 {
  position:absolute;
  left:224px;
  top:634px;
  width:71px;
  height:16px;
}
#u19831 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
