body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7786 {
  position:absolute;
  left:0px;
  top:0px;
}
#u7786_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7786_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7787 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7788 {
  position:absolute;
  left:2px;
  top:301px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7789 {
  position:absolute;
  left:20px;
  top:20px;
  width:300px;
  height:170px;
}
#u7790 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7791 {
  position:absolute;
  left:40px;
  top:36px;
  width:217px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7792 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u7793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7793 {
  position:absolute;
  left:40px;
  top:84px;
  width:109px;
  height:16px;
  color:#FFFFFF;
}
#u7794 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7795 {
  position:absolute;
  left:40px;
  top:114px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u7796 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u7797 {
  position:absolute;
  left:979px;
  top:26px;
  width:51px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u7798 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7799 {
  position:absolute;
  left:1040px;
  top:22px;
  width:45px;
  height:32px;
  color:#FFFFFF;
  text-align:center;
}
#u7800 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7801 {
  position:absolute;
  left:40px;
  top:143px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u7802 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7803 {
  position:absolute;
  left:40px;
  top:381px;
  width:149px;
  height:35px;
  font-size:16px;
}
#u7804 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7805 {
  position:absolute;
  left:248px;
  top:381px;
  width:149px;
  height:35px;
  font-size:16px;
}
#u7806 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7807 {
  position:absolute;
  left:456px;
  top:381px;
  width:149px;
  height:35px;
  font-size:16px;
}
#u7808 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7809 {
  position:absolute;
  left:663px;
  top:381px;
  width:149px;
  height:35px;
}
#u7810 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7811 {
  position:absolute;
  left:871px;
  top:381px;
  width:149px;
  height:35px;
  font-size:16px;
}
#u7812 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u7813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.898039215686275);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7813 {
  position:absolute;
  left:453px;
  top:476px;
  width:194px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u7814 {
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u7815 {
  position:absolute;
  left:40px;
  top:251px;
  width:149px;
  height:110px;
}
#u7816 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u7817 {
  position:absolute;
  left:248px;
  top:251px;
  width:149px;
  height:110px;
}
#u7818 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u7819 {
  position:absolute;
  left:453px;
  top:251px;
  width:149px;
  height:110px;
}
#u7820 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u7821 {
  position:absolute;
  left:663px;
  top:251px;
  width:149px;
  height:110px;
}
#u7822 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u7823 {
  position:absolute;
  left:871px;
  top:251px;
  width:149px;
  height:110px;
}
#u7824 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7786_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7786_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7825 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:301px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7827 {
  position:absolute;
  left:480px;
  top:52px;
  width:140px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u7828 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7829 {
  position:absolute;
  left:400px;
  top:136px;
  width:300px;
  height:282px;
}
#u7830 {
  position:absolute;
  left:2px;
  top:133px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:240px;
}
#u7831 {
  position:absolute;
  left:423px;
  top:156px;
  width:250px;
  height:240px;
}
#u7832 {
  position:absolute;
  left:2px;
  top:112px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7833 {
  position:absolute;
  left:510px;
  top:430px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7834 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7835 {
  position:absolute;
  left:500px;
  top:468px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u7836 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7837 {
  position:absolute;
  left:481px;
  top:526px;
  width:140px;
  height:40px;
}
#u7838 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7839 {
  position:absolute;
  left:10px;
  top:12px;
  width:140px;
  height:40px;
}
#u7840 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7786_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7786_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7841 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7842 {
  position:absolute;
  left:2px;
  top:301px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:560px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7843 {
  position:absolute;
  left:640px;
  top:30px;
  width:440px;
  height:560px;
}
#u7844 {
  position:absolute;
  left:2px;
  top:272px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7845 {
  position:absolute;
  left:660px;
  top:20px;
  width:86px;
  height:23px;
  text-align:center;
}
#u7846 {
  position:absolute;
  left:0px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7847 {
  position:absolute;
  left:253px;
  top:46px;
  width:140px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u7848 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7849 {
  position:absolute;
  left:173px;
  top:130px;
  width:300px;
  height:282px;
}
#u7850 {
  position:absolute;
  left:2px;
  top:133px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:240px;
}
#u7851 {
  position:absolute;
  left:196px;
  top:150px;
  width:250px;
  height:240px;
}
#u7852 {
  position:absolute;
  left:2px;
  top:112px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7853 {
  position:absolute;
  left:283px;
  top:447px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7854 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7855 {
  position:absolute;
  left:10px;
  top:12px;
  width:140px;
  height:40px;
}
#u7856 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7857 {
  position:absolute;
  left:816px;
  top:174px;
}
#u7857_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7857_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7859 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7860 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u7861 {
  position:absolute;
  left:8px;
  top:8px;
  width:124px;
  height:124px;
}
#u7862 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7863 {
  position:absolute;
  left:55px;
  top:153px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7864 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7865 {
  position:absolute;
  left:61px;
  top:178px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7866 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7857_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7857_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7868 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7869 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u7870 {
  position:absolute;
  left:8px;
  top:8px;
  width:124px;
  height:124px;
}
#u7871 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7872 {
  position:absolute;
  left:55px;
  top:153px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7873 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7874 {
  position:absolute;
  left:61px;
  top:178px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7875 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7857_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7857_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7877 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7878 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u7879 {
  position:absolute;
  left:8px;
  top:8px;
  width:124px;
  height:124px;
}
#u7880 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7881 {
  position:absolute;
  left:55px;
  top:153px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7882 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7883 {
  position:absolute;
  left:61px;
  top:178px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7884 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7857_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7857_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7886 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:138px;
}
#u7887 {
  position:absolute;
  left:2px;
  top:61px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:124px;
}
#u7888 {
  position:absolute;
  left:8px;
  top:8px;
  width:124px;
  height:124px;
}
#u7889 {
  position:absolute;
  left:2px;
  top:54px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7890 {
  position:absolute;
  left:55px;
  top:153px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7891 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7892 {
  position:absolute;
  left:61px;
  top:178px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7893 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7786_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u7786_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7894 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:618px;
}
#u7895 {
  position:absolute;
  left:2px;
  top:301px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:560px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7896 {
  position:absolute;
  left:640px;
  top:30px;
  width:440px;
  height:560px;
}
#u7897 {
  position:absolute;
  left:2px;
  top:272px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7899 {
  position:absolute;
  left:701px;
  top:83px;
  width:90px;
  height:90px;
}
#u7900 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7901 {
  position:absolute;
  left:706px;
  top:88px;
  width:81px;
  height:81px;
}
#u7902 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7903 {
  position:absolute;
  left:732px;
  top:183px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7905 {
  position:absolute;
  left:742px;
  top:199px;
  width:9px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7906 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7908 {
  position:absolute;
  left:834px;
  top:83px;
  width:90px;
  height:90px;
}
#u7909 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7910 {
  position:absolute;
  left:839px;
  top:88px;
  width:81px;
  height:81px;
}
#u7911 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7912 {
  position:absolute;
  left:865px;
  top:183px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7913 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7914 {
  position:absolute;
  left:875px;
  top:199px;
  width:9px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7915 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7917 {
  position:absolute;
  left:953px;
  top:83px;
  width:90px;
  height:90px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7919 {
  position:absolute;
  left:958px;
  top:88px;
  width:81px;
  height:81px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7921 {
  position:absolute;
  left:984px;
  top:183px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7923 {
  position:absolute;
  left:994px;
  top:199px;
  width:9px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7924 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7925 {
  position:absolute;
  left:702px;
  top:234px;
  width:90px;
  height:90px;
}
#u7926 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7927 {
  position:absolute;
  left:707px;
  top:239px;
  width:81px;
  height:81px;
}
#u7928 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7929 {
  position:absolute;
  left:733px;
  top:334px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7930 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7931 {
  position:absolute;
  left:739px;
  top:350px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7932 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7934 {
  position:absolute;
  left:834px;
  top:234px;
  width:90px;
  height:90px;
}
#u7935 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7936 {
  position:absolute;
  left:839px;
  top:239px;
  width:81px;
  height:81px;
}
#u7937 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7938 {
  position:absolute;
  left:865px;
  top:334px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7940 {
  position:absolute;
  left:871px;
  top:350px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7941 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7943 {
  position:absolute;
  left:953px;
  top:234px;
  width:90px;
  height:90px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7945 {
  position:absolute;
  left:958px;
  top:239px;
  width:81px;
  height:81px;
}
#u7946 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7947 {
  position:absolute;
  left:984px;
  top:334px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7948 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7949 {
  position:absolute;
  left:990px;
  top:350px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7950 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7951 {
  position:absolute;
  left:818px;
  top:550px;
  width:16px;
  height:16px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7953 {
  position:absolute;
  left:854px;
  top:550px;
  width:16px;
  height:16px;
}
#u7954 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7955 {
  position:absolute;
  left:890px;
  top:550px;
  width:16px;
  height:16px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7957 {
  position:absolute;
  left:926px;
  top:550px;
  width:16px;
  height:16px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7959 {
  position:absolute;
  left:660px;
  top:20px;
  width:86px;
  height:23px;
  text-align:center;
}
#u7960 {
  position:absolute;
  left:0px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u7961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u7961 {
  position:absolute;
  left:253px;
  top:46px;
  width:140px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u7962 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u7963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7963 {
  position:absolute;
  left:173px;
  top:130px;
  width:300px;
  height:282px;
}
#u7964 {
  position:absolute;
  left:2px;
  top:133px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:240px;
}
#u7965 {
  position:absolute;
  left:196px;
  top:150px;
  width:250px;
  height:240px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:112px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7967 {
  position:absolute;
  left:283px;
  top:424px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u7968 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7969 {
  position:absolute;
  left:273px;
  top:462px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7971 {
  position:absolute;
  left:260px;
  top:520px;
  width:140px;
  height:40px;
}
#u7972 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7973 {
  position:absolute;
  left:10px;
  top:12px;
  width:140px;
  height:40px;
}
#u7974 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7975 {
  position:absolute;
  left:702px;
  top:382px;
  width:90px;
  height:90px;
}
#u7976 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7977 {
  position:absolute;
  left:707px;
  top:387px;
  width:81px;
  height:81px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7979 {
  position:absolute;
  left:733px;
  top:482px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7981 {
  position:absolute;
  left:739px;
  top:498px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7982 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7984 {
  position:absolute;
  left:834px;
  top:382px;
  width:90px;
  height:90px;
}
#u7985 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7986 {
  position:absolute;
  left:839px;
  top:387px;
  width:81px;
  height:81px;
}
#u7987 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7988 {
  position:absolute;
  left:865px;
  top:482px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7989 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7990 {
  position:absolute;
  left:871px;
  top:498px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7991 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7993 {
  position:absolute;
  left:953px;
  top:382px;
  width:90px;
  height:90px;
}
#u7994 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7995 {
  position:absolute;
  left:958px;
  top:387px;
  width:81px;
  height:81px;
}
#u7996 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7997 {
  position:absolute;
  left:984px;
  top:482px;
  width:29px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u7999 {
  position:absolute;
  left:990px;
  top:498px;
  width:17px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
