body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23868 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:612px;
}
#u23869 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u23870 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u23871 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u23872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u23872 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u23873 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u23874 {
  position:absolute;
  left:0px;
  top:55px;
}
#u23874_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23874_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u23876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23876 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
}
.u23877 {
  position:absolute;
  left:2px;
  top:20px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23878 {
  position:absolute;
  left:59px;
  top:10px;
  width:57px;
  height:16px;
}
.u23879 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u23880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u23880 {
  position:absolute;
  left:347px;
  top:19px;
  width:9px;
  height:16px;
  color:#999999;
}
.u23881 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
.u23882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
.u23882 {
  position:absolute;
  left:9px;
  top:10px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
.u23883 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
.u23884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u23884 {
  position:absolute;
  left:59px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u23885 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23875-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
}
#u23875-2 {
  position:absolute;
  left:0px;
  top:57px;
  width:374px;
  height:57px;
}
#u23875-3 {
  position:absolute;
  left:0px;
  top:114px;
  width:374px;
  height:57px;
}
#u23875-4 {
  position:absolute;
  left:0px;
  top:171px;
  width:374px;
  height:57px;
}
#u23875-5 {
  position:absolute;
  left:0px;
  top:228px;
  width:374px;
  height:57px;
}
#u23875-6 {
  position:absolute;
  left:0px;
  top:285px;
  width:374px;
  height:57px;
}
#u23875-7 {
  position:absolute;
  left:0px;
  top:342px;
  width:374px;
  height:57px;
}
#u23875-8 {
  position:absolute;
  left:0px;
  top:399px;
  width:374px;
  height:57px;
}
#u23875 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u23874_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u23874_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u23886 {
  position:absolute;
  left:96px;
  top:7px;
  width:183px;
  height:16px;
  color:#FF9900;
}
#u23887 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
.u23889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23889 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
}
.u23890 {
  position:absolute;
  left:2px;
  top:20px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
.u23891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u23891 {
  position:absolute;
  left:59px;
  top:10px;
  width:57px;
  height:16px;
}
.u23892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u23893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
.u23893 {
  position:absolute;
  left:9px;
  top:10px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
.u23894 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
.u23895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u23895 {
  position:absolute;
  left:59px;
  top:32px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u23896 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23888-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:57px;
}
#u23888-2 {
  position:absolute;
  left:0px;
  top:57px;
  width:374px;
  height:57px;
}
#u23888-3 {
  position:absolute;
  left:0px;
  top:114px;
  width:374px;
  height:57px;
}
#u23888-4 {
  position:absolute;
  left:0px;
  top:171px;
  width:374px;
  height:57px;
}
#u23888-5 {
  position:absolute;
  left:0px;
  top:228px;
  width:374px;
  height:57px;
}
#u23888-6 {
  position:absolute;
  left:0px;
  top:285px;
  width:374px;
  height:57px;
}
#u23888-7 {
  position:absolute;
  left:0px;
  top:342px;
  width:374px;
  height:57px;
}
#u23888-8 {
  position:absolute;
  left:0px;
  top:399px;
  width:374px;
  height:57px;
}
#u23888 {
  position:absolute;
  left:0px;
  top:33px;
  width:374px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u23897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u23897 {
  position:absolute;
  left:305px;
  top:44px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u23898 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u23899 {
  position:absolute;
  left:305px;
  top:101px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u23900 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u23901 {
  position:absolute;
  left:305px;
  top:157px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u23902 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23903 {
  position:absolute;
  left:305px;
  top:214px;
  width:57px;
  height:16px;
  color:#666666;
}
#u23904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23905 {
  position:absolute;
  left:323px;
  top:20px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u23906 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
