body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1170px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19917 {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:40px;
}
#u19918 {
  position:absolute;
  left:2px;
  top:12px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19919 {
  position:absolute;
  left:10px;
  top:5px;
  width:30px;
  height:30px;
}
#u19920 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19921 {
  position:absolute;
  left:57px;
  top:9px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u19922 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u19923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19923 {
  position:absolute;
  left:984px;
  top:12px;
  width:57px;
  height:16px;
}
#u19924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19925 {
  position:absolute;
  left:1053px;
  top:12px;
  width:43px;
  height:16px;
}
#u19926 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19927 {
  position:absolute;
  left:1107px;
  top:12px;
  width:29px;
  height:16px;
}
#u19928 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:129px;
}
#u19929 {
  position:absolute;
  left:0px;
  top:41px;
  width:1000px;
  height:129px;
}
#u19930 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19931 {
  position:absolute;
  left:1000px;
  top:42px;
  width:170px;
  height:668px;
}
#u19932 {
  position:absolute;
  left:2px;
  top:326px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19934 {
  position:absolute;
  left:1060px;
  top:81px;
  width:50px;
  height:50px;
}
#u19935 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19936 {
  position:absolute;
  left:1057px;
  top:141px;
  width:57px;
  height:16px;
}
#u19937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19939 {
  position:absolute;
  left:1060px;
  top:183px;
  width:50px;
  height:50px;
}
#u19940 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19941 {
  position:absolute;
  left:1057px;
  top:243px;
  width:57px;
  height:16px;
}
#u19942 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19944 {
  position:absolute;
  left:1060px;
  top:285px;
  width:50px;
  height:50px;
}
#u19945 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19946 {
  position:absolute;
  left:1057px;
  top:345px;
  width:57px;
  height:16px;
}
#u19947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19949 {
  position:absolute;
  left:1060px;
  top:395px;
  width:50px;
  height:50px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19951 {
  position:absolute;
  left:1057px;
  top:455px;
  width:57px;
  height:16px;
}
#u19952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19954 {
  position:absolute;
  left:1060px;
  top:505px;
  width:50px;
  height:50px;
}
#u19955 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19956 {
  position:absolute;
  left:1057px;
  top:565px;
  width:57px;
  height:16px;
}
#u19957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19958 {
  position:absolute;
  left:10px;
  top:180px;
  width:85px;
  height:16px;
}
#u19959 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u19960 {
  position:absolute;
  left:0px;
  top:210px;
  width:180px;
  height:180px;
}
#u19961 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19963 {
  position:absolute;
  left:202px;
  top:210px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19965 {
  position:absolute;
  left:295px;
  top:210px;
  width:86px;
  height:16px;
}
#u19966 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u19967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19968 {
  position:absolute;
  left:202px;
  top:242px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19969 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19970 {
  position:absolute;
  left:295px;
  top:242px;
  width:43px;
  height:16px;
}
#u19971 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19973 {
  position:absolute;
  left:202px;
  top:273px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19975 {
  position:absolute;
  left:295px;
  top:273px;
  width:115px;
  height:16px;
}
#u19976 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u19977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19978 {
  position:absolute;
  left:202px;
  top:305px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19980 {
  position:absolute;
  left:295px;
  top:305px;
  width:57px;
  height:16px;
}
#u19981 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19983 {
  position:absolute;
  left:202px;
  top:336px;
  width:71px;
  height:16px;
  color:#666666;
}
#u19984 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19985 {
  position:absolute;
  left:295px;
  top:336px;
  width:71px;
  height:16px;
}
#u19986 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19988 {
  position:absolute;
  left:202px;
  top:368px;
  width:71px;
  height:16px;
  color:#666666;
}
#u19989 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19990 {
  position:absolute;
  left:295px;
  top:368px;
  width:38px;
  height:16px;
}
#u19991 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19992 {
  position:absolute;
  left:503px;
  top:180px;
  width:85px;
  height:16px;
}
#u19993 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u19994 {
  position:absolute;
  left:493px;
  top:210px;
  width:180px;
  height:180px;
}
#u19995 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19997 {
  position:absolute;
  left:697px;
  top:210px;
  width:57px;
  height:16px;
  color:#666666;
}
#u19998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19999 {
  position:absolute;
  left:790px;
  top:210px;
  width:86px;
  height:16px;
}
#u20000 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u20001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20002 {
  position:absolute;
  left:697px;
  top:242px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20003 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20004 {
  position:absolute;
  left:790px;
  top:242px;
  width:43px;
  height:16px;
}
#u20005 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u20006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20007 {
  position:absolute;
  left:697px;
  top:273px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20009 {
  position:absolute;
  left:790px;
  top:273px;
  width:115px;
  height:16px;
}
#u20010 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u20011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20012 {
  position:absolute;
  left:697px;
  top:305px;
  width:57px;
  height:16px;
  color:#666666;
}
#u20013 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20014 {
  position:absolute;
  left:790px;
  top:305px;
  width:57px;
  height:16px;
}
#u20015 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20017 {
  position:absolute;
  left:697px;
  top:336px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20018 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20019 {
  position:absolute;
  left:790px;
  top:336px;
  width:71px;
  height:16px;
}
#u20020 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u20022 {
  position:absolute;
  left:697px;
  top:368px;
  width:71px;
  height:16px;
  color:#666666;
}
#u20023 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20024 {
  position:absolute;
  left:790px;
  top:368px;
  width:38px;
  height:16px;
}
#u20025 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u20026_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:533px;
}
#u20026 {
  position:absolute;
  left:457px;
  top:180px;
  width:3px;
  height:530px;
}
#u20027 {
  position:absolute;
  left:2px;
  top:257px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20028_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1003px;
  height:6px;
}
#u20028 {
  position:absolute;
  left:0px;
  top:410px;
  width:1000px;
  height:3px;
}
#u20029 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:180px;
}
#u20030 {
  position:absolute;
  left:0px;
  top:468px;
  width:273px;
  height:180px;
}
#u20031 {
  position:absolute;
  left:2px;
  top:82px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20032 {
  position:absolute;
  left:283px;
  top:468px;
  width:164px;
  height:90px;
}
#u20033 {
  position:absolute;
  left:2px;
  top:37px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20034 {
  position:absolute;
  left:283px;
  top:568px;
  width:77px;
  height:30px;
}
#u20035 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u20036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20036 {
  position:absolute;
  left:370px;
  top:568px;
  width:77px;
  height:30px;
}
#u20037 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u20038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20038 {
  position:absolute;
  left:283px;
  top:618px;
  width:77px;
  height:30px;
}
#u20039 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u20040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20040 {
  position:absolute;
  left:370px;
  top:618px;
  width:77px;
  height:30px;
}
#u20041 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u20042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20042 {
  position:absolute;
  left:493px;
  top:423px;
  width:57px;
  height:16px;
}
#u20043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:95px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20044 {
  position:absolute;
  left:493px;
  top:486px;
  width:207px;
  height:95px;
  font-size:20px;
}
#u20045 {
  position:absolute;
  left:2px;
  top:36px;
  width:203px;
  word-wrap:break-word;
}
#u20046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 102, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u20046 {
  position:absolute;
  left:493px;
  top:581px;
  width:207px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u20047 {
  position:absolute;
  left:2px;
  top:16px;
  width:203px;
  word-wrap:break-word;
}
#u20048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:95px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u20048 {
  position:absolute;
  left:740px;
  top:486px;
  width:207px;
  height:95px;
  font-size:20px;
}
#u20049 {
  position:absolute;
  left:2px;
  top:36px;
  width:203px;
  word-wrap:break-word;
}
#u20050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 204, 102, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u20050 {
  position:absolute;
  left:740px;
  top:581px;
  width:207px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u20051 {
  position:absolute;
  left:2px;
  top:16px;
  width:203px;
  word-wrap:break-word;
}
#u20052_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1003px;
  height:6px;
}
#u20052 {
  position:absolute;
  left:0px;
  top:707px;
  width:1000px;
  height:3px;
}
#u20053 {
  position:absolute;
  left:2px;
  top:-6px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20054 {
  position:absolute;
  left:0px;
  top:437px;
  width:57px;
  height:16px;
}
#u20055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20056 {
  position:absolute;
  left:60px;
  top:100px;
  width:127px;
  height:16px;
}
#u20057 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
