body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u741 {
  position:absolute;
  left:200px;
  top:0px;
  width:1160px;
  height:800px;
}
#u741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:800px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:hidden;
}
#u742_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(252, 252, 252, 1);
  background-image:none;
}
#u742_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u743_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u743.mouseOver {
}
#u743_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u743.selected {
}
#u744 {
  position:absolute;
  left:30px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u745 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u745_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u745.mouseOver {
}
#u745_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u745.selected {
}
#u746 {
  position:absolute;
  left:50px;
  top:17px;
  width:148px;
  word-wrap:break-word;
}
