body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:702px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21912 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:702px;
}
#u21913 {
  position:absolute;
  left:2px;
  top:343px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21914 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u21915 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u21916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21916 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21917 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u21918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u21919 {
  position:absolute;
  left:323px;
  top:27px;
  width:6px;
  height:6px;
}
#u21920 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u21921 {
  position:absolute;
  left:333px;
  top:27px;
  width:6px;
  height:6px;
}
#u21922 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u21923 {
  position:absolute;
  left:343px;
  top:27px;
  width:6px;
  height:6px;
}
#u21924 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:95px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21925 {
  position:absolute;
  left:243px;
  top:65px;
  width:109px;
  height:95px;
}
#u21926 {
  position:absolute;
  left:2px;
  top:40px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21927 {
  position:absolute;
  left:257px;
  top:79px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u21928 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u21929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21929 {
  position:absolute;
  left:257px;
  top:119px;
  width:82px;
  height:30px;
  color:#FFFFFF;
}
#u21930 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u21931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:155px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21931 {
  position:absolute;
  left:410px;
  top:65px;
  width:170px;
  height:155px;
}
#u21932 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
