body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:680px;
}
#u8820 {
  position:absolute;
  left:2px;
  top:332px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8821 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8822 {
  position:absolute;
  left:30px;
  top:16px;
  width:548px;
  word-wrap:break-word;
}
#u8823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8823 {
  position:absolute;
  left:540px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u8824 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u8825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8825 {
  position:absolute;
  left:342px;
  top:495px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8825_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u8825.mouseDown {
}
#u8826 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u8827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8827 {
  position:absolute;
  left:434px;
  top:495px;
  width:80px;
  height:35px;
}
#u8828 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u8829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8829 {
  position:absolute;
  left:30px;
  top:75px;
  width:62px;
  height:16px;
}
#u8830 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8829_ann {
  position:absolute;
  left:85px;
  top:71px;
  width:1px;
  height:1px;
}
#u8831 {
  position:absolute;
  left:30px;
  top:105px;
  width:484px;
  height:36px;
}
#u8831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8831_input:disabled {
  color:grayText;
}
#u8832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8832 {
  position:absolute;
  left:38px;
  top:176px;
  width:62px;
  height:16px;
}
#u8833 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8834 {
  position:absolute;
  left:298px;
  top:176px;
  width:62px;
  height:16px;
}
#u8835 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:2px;
}
#u8836 {
  position:absolute;
  left:30px;
  top:277px;
  width:484px;
  height:1px;
}
#u8837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8838 {
  position:absolute;
  left:30px;
  top:404px;
  width:62px;
  height:16px;
}
#u8839 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8840 {
  position:absolute;
  left:30px;
  top:202px;
  width:216px;
  height:36px;
}
#u8841 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u8842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  position:absolute;
  left:298px;
  top:202px;
  width:216px;
  height:36px;
}
#u8843 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u8844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8845 {
  position:absolute;
  left:30px;
  top:438px;
  width:216px;
  height:36px;
}
#u8846 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8847 {
  position:absolute;
  left:33px;
  top:444px;
  width:110px;
  height:23px;
}
#u8847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8848 {
  position:absolute;
  left:143px;
  top:445px;
  width:95px;
  height:23px;
}
#u8848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  position:absolute;
  left:298px;
  top:438px;
  width:216px;
  height:36px;
}
#u8851 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8852 {
  position:absolute;
  left:301px;
  top:444px;
  width:110px;
  height:23px;
}
#u8852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8853 {
  position:absolute;
  left:411px;
  top:445px;
  width:95px;
  height:23px;
}
#u8853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8854 {
  position:absolute;
  left:30px;
  top:320px;
  width:62px;
  height:16px;
}
#u8855 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8857 {
  position:absolute;
  left:30px;
  top:350px;
  width:230px;
  height:36px;
}
#u8858 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8859 {
  position:absolute;
  left:34px;
  top:356px;
  width:224px;
  height:24px;
}
#u8859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8860 {
  position:absolute;
  left:298px;
  top:320px;
  width:62px;
  height:16px;
}
#u8861 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8862 {
  position:absolute;
  left:301px;
  top:350px;
  width:213px;
  height:36px;
}
#u8862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8862_input:disabled {
  color:grayText;
}
