body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:499px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:499px;
}
#u748 {
  position:absolute;
  left:2px;
  top:242px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
