body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:570px;
}
#u3610 {
  position:absolute;
  left:2px;
  top:277px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u3611 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u3612 {
  position:absolute;
  left:30px;
  top:16px;
  width:608px;
  word-wrap:break-word;
}
#u3613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3613 {
  position:absolute;
  left:602px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u3614 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u3615 {
  position:absolute;
  left:0px;
  top:50px;
  width:640px;
  height:400px;
}
#u3615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:400px;
}
#u3616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3616 {
  position:absolute;
  left:0px;
  top:450px;
  width:640px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3617 {
  position:absolute;
  left:20px;
  top:17px;
  width:618px;
  word-wrap:break-word;
}
#u3618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3618 {
  position:absolute;
  left:438px;
  top:520px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3618_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u3618.mouseDown {
}
#u3619 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3620 {
  position:absolute;
  left:530px;
  top:520px;
  width:80px;
  height:35px;
}
#u3621 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
