body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:560px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:870px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4155 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:870px;
}
#u4156 {
  position:absolute;
  left:2px;
  top:427px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u4158 {
  position:absolute;
  left:30px;
  top:16px;
  width:528px;
  word-wrap:break-word;
}
#u4159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4159 {
  position:absolute;
  left:528px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u4160 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4161 {
  position:absolute;
  left:34px;
  top:116px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4163 {
  position:absolute;
  left:129px;
  top:116px;
  width:113px;
  height:16px;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4165 {
  position:absolute;
  left:34px;
  top:148px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4167 {
  position:absolute;
  left:129px;
  top:148px;
  width:115px;
  height:16px;
}
#u4168 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4169 {
  position:absolute;
  left:34px;
  top:181px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4171 {
  position:absolute;
  left:129px;
  top:181px;
  width:115px;
  height:16px;
}
#u4172 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4173 {
  position:absolute;
  left:34px;
  top:213px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4175 {
  position:absolute;
  left:129px;
  top:213px;
  width:67px;
  height:16px;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4177 {
  position:absolute;
  left:34px;
  top:246px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  position:absolute;
  left:129px;
  top:246px;
  width:381px;
  height:32px;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u4181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4181 {
  position:absolute;
  left:34px;
  top:298px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4182 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4183 {
  position:absolute;
  left:34px;
  top:382px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4185 {
  position:absolute;
  left:129px;
  top:382px;
  width:280px;
  height:16px;
}
#u4186 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4187 {
  position:absolute;
  left:129px;
  top:298px;
  width:60px;
  height:60px;
}
#u4188 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4189 {
  position:absolute;
  left:211px;
  top:298px;
  width:60px;
  height:60px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4191 {
  position:absolute;
  left:297px;
  top:298px;
  width:60px;
  height:60px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4193 {
  position:absolute;
  left:34px;
  top:415px;
  width:71px;
  height:16px;
  color:#999999;
}
#u4194 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4195 {
  position:absolute;
  left:129px;
  top:415px;
  width:60px;
  height:16px;
}
#u4196 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u4197_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u4197 {
  position:absolute;
  left:34px;
  top:71px;
  width:5px;
  height:21px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4199 {
  position:absolute;
  left:49px;
  top:71px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4201_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u4201 {
  position:absolute;
  left:34px;
  top:460px;
  width:5px;
  height:21px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4203 {
  position:absolute;
  left:49px;
  top:460px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4205 {
  position:absolute;
  left:34px;
  top:507px;
  width:43px;
  height:16px;
  color:#999999;
}
#u4206 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4207 {
  position:absolute;
  left:129px;
  top:507px;
  width:89px;
  height:16px;
}
#u4208 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4209 {
  position:absolute;
  left:34px;
  top:539px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4211 {
  position:absolute;
  left:129px;
  top:539px;
  width:183px;
  height:16px;
}
#u4212 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4213 {
  position:absolute;
  left:34px;
  top:574px;
  width:43px;
  height:16px;
  color:#999999;
}
#u4214 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u4215 {
  position:absolute;
  left:455px;
  top:116px;
  width:55px;
  height:55px;
}
#u4216 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u4215_ann {
  position:absolute;
  left:503px;
  top:112px;
  width:1px;
  height:1px;
}
#u4217 {
  position:absolute;
  left:129px;
  top:580px;
  width:305px;
  height:95px;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4218 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4219 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4220 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4221 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4222 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u4223 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4224 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u4225 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4226 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u4227 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4228 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u4229 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4230 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u4231 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4232 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u4233 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4234 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:26px;
}
#u4236 {
  position:absolute;
  left:34px;
  top:702px;
  width:5px;
  height:21px;
}
#u4237 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4238 {
  position:absolute;
  left:49px;
  top:702px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4240 {
  position:absolute;
  left:34px;
  top:749px;
  width:43px;
  height:16px;
  color:#999999;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4242 {
  position:absolute;
  left:129px;
  top:749px;
  width:57px;
  height:16px;
}
#u4243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4244 {
  position:absolute;
  left:34px;
  top:781px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4245 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4246 {
  position:absolute;
  left:129px;
  top:781px;
  width:89px;
  height:16px;
}
#u4247 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4248 {
  position:absolute;
  left:34px;
  top:814px;
  width:57px;
  height:16px;
  color:#999999;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4250 {
  position:absolute;
  left:129px;
  top:814px;
  width:104px;
  height:16px;
}
#u4251 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u4252 {
  position:absolute;
  left:455px;
  top:507px;
  width:55px;
  height:55px;
}
#u4253 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u4252_ann {
  position:absolute;
  left:503px;
  top:503px;
  width:1px;
  height:1px;
}
