body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:775px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21016 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:775px;
}
#u21017 {
  position:absolute;
  left:2px;
  top:380px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u21018 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u21019 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u21020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21020 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u21021 {
  position:absolute;
  left:0px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u21022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21022 {
  position:absolute;
  left:1px;
  top:96px;
  width:373px;
  height:264px;
}
#u21023 {
  position:absolute;
  left:2px;
  top:124px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21024 {
  position:absolute;
  left:15px;
  top:108px;
  width:30px;
  height:30px;
}
#u21025 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21026 {
  position:absolute;
  left:55px;
  top:115px;
  width:29px;
  height:16px;
}
#u21027 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u21028 {
  position:absolute;
  left:273px;
  top:111px;
  width:89px;
  height:16px;
  color:#199ED8;
}
#u21029 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u21030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u21030 {
  position:absolute;
  left:140px;
  top:177px;
  width:96px;
  height:96px;
}
#u21031 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21032 {
  position:absolute;
  left:116px;
  top:322px;
  width:29px;
  height:16px;
}
#u21033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21034 {
  position:absolute;
  left:92px;
  top:322px;
  width:15px;
  height:15px;
}
#u21035 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21036 {
  position:absolute;
  left:196px;
  top:322px;
  width:29px;
  height:16px;
}
#u21037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21038 {
  position:absolute;
  left:172px;
  top:322px;
  width:15px;
  height:15px;
}
#u21039 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21040 {
  position:absolute;
  left:276px;
  top:322px;
  width:29px;
  height:16px;
}
#u21041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21042 {
  position:absolute;
  left:252px;
  top:322px;
  width:15px;
  height:15px;
}
#u21043 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21044 {
  position:absolute;
  left:1px;
  top:399px;
  width:373px;
  height:151px;
}
#u21045 {
  position:absolute;
  left:2px;
  top:68px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u21046 {
  position:absolute;
  left:83px;
  top:445px;
  width:78px;
  height:78px;
}
#u21047 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21048 {
  position:absolute;
  left:320px;
  top:409px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21049 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21050 {
  position:absolute;
  left:353px;
  top:411px;
  width:13px;
  height:13px;
}
#u21051 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21052 {
  position:absolute;
  left:320px;
  top:435px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21053 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21054 {
  position:absolute;
  left:353px;
  top:437px;
  width:13px;
  height:13px;
}
#u21055 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21056 {
  position:absolute;
  left:307px;
  top:461px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u21057 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21058 {
  position:absolute;
  left:353px;
  top:463px;
  width:13px;
  height:13px;
}
#u21059 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21060 {
  position:absolute;
  left:294px;
  top:487px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u21061 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21062 {
  position:absolute;
  left:353px;
  top:489px;
  width:13px;
  height:13px;
}
#u21063 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21064 {
  position:absolute;
  left:1px;
  top:587px;
  width:373px;
  height:172px;
}
#u21065 {
  position:absolute;
  left:2px;
  top:78px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21066 {
  position:absolute;
  left:15px;
  top:598px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21067 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21068 {
  position:absolute;
  left:55px;
  top:652px;
  width:13px;
  height:13px;
}
#u21069 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21070 {
  position:absolute;
  left:15px;
  top:624px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21071 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21072 {
  position:absolute;
  left:55px;
  top:678px;
  width:13px;
  height:13px;
}
#u21073 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21074 {
  position:absolute;
  left:15px;
  top:676px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21075 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21076 {
  position:absolute;
  left:55px;
  top:599px;
  width:13px;
  height:13px;
}
#u21077 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21078 {
  position:absolute;
  left:15px;
  top:702px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21079 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21080 {
  position:absolute;
  left:55px;
  top:625px;
  width:13px;
  height:13px;
}
#u21081 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u21082 {
  position:absolute;
  left:15px;
  top:650px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u21083 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21084 {
  position:absolute;
  left:55px;
  top:704px;
  width:13px;
  height:13px;
}
#u21085 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21086 {
  position:absolute;
  left:15px;
  top:373px;
  width:57px;
  height:16px;
}
#u21087 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21088 {
  position:absolute;
  left:15px;
  top:561px;
  width:57px;
  height:16px;
}
#u21089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u21090 {
  position:absolute;
  left:268px;
  top:210px;
  width:89px;
  height:1px;
}
#u21091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21092 {
  position:absolute;
  left:277px;
  top:189px;
  width:81px;
  height:16px;
}
#u21093 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u21094 {
  position:absolute;
  left:223px;
  top:216px;
  width:45px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u21096 {
  position:absolute;
  left:26px;
  top:192px;
  width:89px;
  height:1px;
}
#u21097 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u21098 {
  position:absolute;
  left:114px;
  top:201px;
  width:45px;
  height:1px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u21099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21100 {
  position:absolute;
  left:27px;
  top:166px;
  width:73px;
  height:16px;
}
#u21101 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:2px;
}
#u21102 {
  position:absolute;
  left:29px;
  top:260px;
  width:89px;
  height:1px;
}
#u21103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:2px;
}
#u21104 {
  position:absolute;
  left:118px;
  top:253px;
  width:45px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21106 {
  position:absolute;
  left:29px;
  top:234px;
  width:65px;
  height:16px;
}
#u21107 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:2px;
}
#u21108 {
  position:absolute;
  left:176px;
  top:446px;
  width:69px;
  height:1px;
}
#u21109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21110 {
  position:absolute;
  left:176px;
  top:421px;
  width:75px;
  height:15px;
  font-size:12px;
}
#u21111 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u21112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u21112 {
  position:absolute;
  left:142px;
  top:451px;
  width:35px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u21114 {
  position:absolute;
  left:6px;
  top:451px;
  width:57px;
  height:1px;
}
#u21115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:2px;
}
#u21116 {
  position:absolute;
  left:61px;
  top:459px;
  width:38px;
  height:1px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u21117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21118 {
  position:absolute;
  left:6px;
  top:425px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u21119 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:2px;
}
#u21120 {
  position:absolute;
  left:6px;
  top:519px;
  width:61px;
  height:1px;
}
#u21121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u21122 {
  position:absolute;
  left:66px;
  top:514px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21124 {
  position:absolute;
  left:6px;
  top:493px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u21125 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:2px;
}
#u21126 {
  position:absolute;
  left:175px;
  top:518px;
  width:83px;
  height:1px;
}
#u21127 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u21128 {
  position:absolute;
  left:141px;
  top:511px;
  width:34px;
  height:1px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u21129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21130 {
  position:absolute;
  left:178px;
  top:492px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u21131 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u21132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u21132 {
  position:absolute;
  left:203px;
  top:621px;
  width:78px;
  height:78px;
}
#u21133 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:2px;
}
#u21134 {
  position:absolute;
  left:289px;
  top:622px;
  width:69px;
  height:1px;
}
#u21135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21136 {
  position:absolute;
  left:289px;
  top:597px;
  width:63px;
  height:15px;
  font-size:12px;
}
#u21137 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u21138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u21138 {
  position:absolute;
  left:255px;
  top:627px;
  width:35px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u21140 {
  position:absolute;
  left:136px;
  top:627px;
  width:62px;
  height:1px;
}
#u21141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u21142 {
  position:absolute;
  left:197px;
  top:632px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u21143 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21144 {
  position:absolute;
  left:140px;
  top:601px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u21145 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u21146 {
  position:absolute;
  left:136px;
  top:695px;
  width:66px;
  height:1px;
}
#u21147 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:2px;
}
#u21148 {
  position:absolute;
  left:201px;
  top:691px;
  width:23px;
  height:1px;
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  transform:rotate(345deg);
}
#u21149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21150 {
  position:absolute;
  left:140px;
  top:669px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u21151 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:2px;
}
#u21152 {
  position:absolute;
  left:288px;
  top:694px;
  width:83px;
  height:1px;
}
#u21153 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u21154 {
  position:absolute;
  left:254px;
  top:687px;
  width:34px;
  height:1px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u21155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21156 {
  position:absolute;
  left:291px;
  top:668px;
  width:56px;
  height:15px;
  font-size:12px;
}
#u21157 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u21158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:2px;
}
#u21158 {
  position:absolute;
  left:234px;
  top:704px;
  width:35px;
  height:1px;
  -webkit-transform:rotate(67deg);
  -moz-transform:rotate(67deg);
  -ms-transform:rotate(67deg);
  transform:rotate(67deg);
}
#u21159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:2px;
}
#u21160 {
  position:absolute;
  left:255px;
  top:717px;
  width:83px;
  height:1px;
}
#u21161 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u21162 {
  position:absolute;
  left:269px;
  top:728px;
  width:63px;
  height:15px;
  font-size:12px;
}
#u21163 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u21164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21164 {
  position:absolute;
  left:435px;
  top:69px;
  width:250px;
  height:40px;
}
#u21165 {
  position:absolute;
  left:10px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u21166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:334px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21166 {
  position:absolute;
  left:435px;
  top:142px;
  width:250px;
  height:334px;
}
#u21167 {
  position:absolute;
  left:10px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u21168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u21168 {
  position:absolute;
  left:77px;
  top:784px;
  width:222px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u21169 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u21170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u21171 {
  position:absolute;
  left:336px;
  top:18px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u21172 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u21173 {
  position:absolute;
  left:355px;
  top:29px;
  width:1px;
  height:14px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u21174 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u21175 {
  position:absolute;
  left:95px;
  top:457px;
  width:54px;
  height:54px;
}
#u21176 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u21177 {
  position:absolute;
  left:215px;
  top:633px;
  width:54px;
  height:54px;
}
#u21178 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
}
#u21179 {
  position:absolute;
  left:324px;
  top:55px;
  width:81px;
  height:40px;
}
#u21180 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u21181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21181 {
  position:absolute;
  left:0px;
  top:55px;
  width:81px;
  height:40px;
}
#u21182 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u21183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21183 {
  position:absolute;
  left:162px;
  top:55px;
  width:81px;
  height:40px;
}
#u21184 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u21185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u21185 {
  position:absolute;
  left:243px;
  top:55px;
  width:81px;
  height:40px;
  color:#199ED8;
}
#u21186 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u21187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21187 {
  position:absolute;
  left:81px;
  top:55px;
  width:81px;
  height:40px;
}
#u21188 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u21189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u21189 {
  position:absolute;
  left:435px;
  top:8px;
  width:475px;
  height:40px;
}
#u21190 {
  position:absolute;
  left:10px;
  top:10px;
  width:455px;
  word-wrap:break-word;
}
