body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:210px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:97px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4148 {
  position:absolute;
  left:20px;
  top:14px;
  width:29px;
  height:16px;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4150 {
  position:absolute;
  left:314px;
  top:4px;
  width:30px;
  height:30px;
  text-align:center;
}
#u4151 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  word-wrap:break-word;
}
#u4152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4152 {
  position:absolute;
  left:40px;
  top:74px;
  width:211px;
  height:16px;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u4154 {
  position:absolute;
  left:160px;
  top:155px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u4154_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u4154.mouseDown {
}
#u4155 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  position:absolute;
  left:252px;
  top:155px;
  width:80px;
  height:35px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
