body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1170px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18960 {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:40px;
}
#u18961 {
  position:absolute;
  left:2px;
  top:12px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18962 {
  position:absolute;
  left:10px;
  top:5px;
  width:30px;
  height:30px;
}
#u18963 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18964 {
  position:absolute;
  left:57px;
  top:9px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u18965 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u18966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18966 {
  position:absolute;
  left:984px;
  top:12px;
  width:57px;
  height:16px;
}
#u18967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18968 {
  position:absolute;
  left:1053px;
  top:12px;
  width:43px;
  height:16px;
}
#u18969 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18970 {
  position:absolute;
  left:1107px;
  top:12px;
  width:29px;
  height:16px;
}
#u18971 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:129px;
}
#u18972 {
  position:absolute;
  left:0px;
  top:41px;
  width:1000px;
  height:129px;
}
#u18973 {
  position:absolute;
  left:2px;
  top:56px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18974 {
  position:absolute;
  left:1000px;
  top:42px;
  width:170px;
  height:668px;
}
#u18975 {
  position:absolute;
  left:2px;
  top:326px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18977 {
  position:absolute;
  left:1060px;
  top:81px;
  width:50px;
  height:50px;
}
#u18978 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18979 {
  position:absolute;
  left:1057px;
  top:141px;
  width:57px;
  height:16px;
}
#u18980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18982 {
  position:absolute;
  left:1060px;
  top:183px;
  width:50px;
  height:50px;
}
#u18983 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18984 {
  position:absolute;
  left:1057px;
  top:243px;
  width:57px;
  height:16px;
}
#u18985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18987 {
  position:absolute;
  left:1060px;
  top:285px;
  width:50px;
  height:50px;
}
#u18988 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18989 {
  position:absolute;
  left:1057px;
  top:345px;
  width:57px;
  height:16px;
}
#u18990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18992 {
  position:absolute;
  left:1060px;
  top:395px;
  width:50px;
  height:50px;
}
#u18993 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18994 {
  position:absolute;
  left:1057px;
  top:455px;
  width:57px;
  height:16px;
}
#u18995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18997 {
  position:absolute;
  left:1060px;
  top:505px;
  width:50px;
  height:50px;
}
#u18998 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18999 {
  position:absolute;
  left:1057px;
  top:565px;
  width:57px;
  height:16px;
}
#u19000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:2px;
}
#u19001 {
  position:absolute;
  left:40px;
  top:100px;
  width:850px;
  height:1px;
}
#u19002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19004 {
  position:absolute;
  left:70px;
  top:86px;
  width:30px;
  height:30px;
}
#u19005 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u19006 {
  position:absolute;
  left:57px;
  top:126px;
  width:57px;
  height:16px;
  text-align:center;
}
#u19007 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19009 {
  position:absolute;
  left:257px;
  top:86px;
  width:30px;
  height:30px;
}
#u19010 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u19011 {
  position:absolute;
  left:237px;
  top:126px;
  width:71px;
  height:16px;
  text-align:center;
}
#u19012 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19014 {
  position:absolute;
  left:433px;
  top:86px;
  width:30px;
  height:30px;
}
#u19015 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u19016 {
  position:absolute;
  left:424px;
  top:126px;
  width:57px;
  height:16px;
  text-align:center;
}
#u19017 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19019 {
  position:absolute;
  left:606px;
  top:86px;
  width:30px;
  height:30px;
}
#u19020 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u19021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u19021 {
  position:absolute;
  left:567px;
  top:126px;
  width:117px;
  height:16px;
  text-align:center;
}
#u19022 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u19023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19023 {
  position:absolute;
  left:3px;
  top:176px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19025 {
  position:absolute;
  left:3px;
  top:202px;
  width:180px;
  height:180px;
}
#u19026 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19027 {
  position:absolute;
  left:193px;
  top:202px;
  width:177px;
  height:96px;
}
#u19028 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u19029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19029 {
  position:absolute;
  left:288px;
  top:353px;
  width:82px;
  height:29px;
}
#u19030 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u19031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19031 {
  position:absolute;
  left:193px;
  top:353px;
  width:82px;
  height:29px;
}
#u19032 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u19033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19033 {
  position:absolute;
  left:3px;
  top:414px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19034 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19035 {
  position:absolute;
  left:3px;
  top:445px;
  width:29px;
  height:16px;
}
#u19036 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19037 {
  position:absolute;
  left:47px;
  top:441px;
  width:323px;
  height:25px;
}
#u19037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19037_ann {
  position:absolute;
  left:363px;
  top:437px;
  width:1px;
  height:1px;
}
#u19038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19038 {
  position:absolute;
  left:3px;
  top:480px;
  width:29px;
  height:16px;
}
#u19039 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19040 {
  position:absolute;
  left:47px;
  top:476px;
  width:323px;
  height:25px;
}
#u19040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19041 {
  position:absolute;
  left:3px;
  top:516px;
  width:29px;
  height:16px;
}
#u19042 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19043 {
  position:absolute;
  left:47px;
  top:512px;
  width:323px;
  height:25px;
}
#u19043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19044 {
  position:absolute;
  left:3px;
  top:551px;
  width:29px;
  height:16px;
}
#u19045 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19046 {
  position:absolute;
  left:47px;
  top:547px;
  width:323px;
  height:25px;
}
#u19046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19047 {
  position:absolute;
  left:3px;
  top:595px;
  width:29px;
  height:16px;
}
#u19048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19049 {
  position:absolute;
  left:47px;
  top:591px;
  width:323px;
  height:25px;
}
#u19049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19050_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:518px;
}
#u19050 {
  position:absolute;
  left:387px;
  top:172px;
  width:3px;
  height:515px;
}
#u19051 {
  position:absolute;
  left:2px;
  top:250px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19052_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:983px;
  height:6px;
}
#u19052 {
  position:absolute;
  left:0px;
  top:402px;
  width:980px;
  height:3px;
}
#u19053 {
  position:absolute;
  left:2px;
  top:-6px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19054_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:983px;
  height:6px;
}
#u19054 {
  position:absolute;
  left:3px;
  top:679px;
  width:980px;
  height:3px;
}
#u19055 {
  position:absolute;
  left:2px;
  top:-6px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19056 {
  position:absolute;
  left:404px;
  top:176px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19057 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19058 {
  position:absolute;
  left:404px;
  top:211px;
  width:34px;
  height:16px;
}
#u19059 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u19060 {
  position:absolute;
  left:448px;
  top:207px;
  width:114px;
  height:25px;
}
#u19060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19061 {
  position:absolute;
  left:568px;
  top:212px;
  width:62px;
  height:16px;
}
#u19062 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u19063 {
  position:absolute;
  left:635px;
  top:207px;
  width:114px;
  height:25px;
}
#u19063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19063_ann {
  position:absolute;
  left:742px;
  top:203px;
  width:1px;
  height:1px;
}
#u19064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19064 {
  position:absolute;
  left:768px;
  top:207px;
  width:101px;
  height:100px;
}
#u19065 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19066 {
  position:absolute;
  left:882px;
  top:207px;
  width:101px;
  height:100px;
}
#u19067 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19068 {
  position:absolute;
  left:404px;
  top:261px;
  width:29px;
  height:16px;
}
#u19069 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19070 {
  position:absolute;
  left:448px;
  top:257px;
  width:114px;
  height:25px;
}
#u19070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19071 {
  position:absolute;
  left:568px;
  top:262px;
  width:57px;
  height:16px;
}
#u19072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19073 {
  position:absolute;
  left:635px;
  top:257px;
  width:114px;
  height:25px;
}
#u19073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19074 {
  position:absolute;
  left:404px;
  top:311px;
  width:29px;
  height:16px;
}
#u19075 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19076 {
  position:absolute;
  left:448px;
  top:307px;
  width:114px;
  height:25px;
}
#u19076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19077 {
  position:absolute;
  left:568px;
  top:312px;
  width:57px;
  height:16px;
}
#u19078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19079 {
  position:absolute;
  left:635px;
  top:307px;
  width:114px;
  height:25px;
}
#u19079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19080 {
  position:absolute;
  left:404px;
  top:358px;
  width:29px;
  height:16px;
}
#u19081 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19082 {
  position:absolute;
  left:448px;
  top:354px;
  width:212px;
  height:25px;
}
#u19082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19083 {
  position:absolute;
  left:667px;
  top:350px;
  width:82px;
  height:29px;
}
#u19084 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u19085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19085 {
  position:absolute;
  left:775px;
  top:317px;
  width:91px;
  height:29px;
}
#u19086 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u19087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19087 {
  position:absolute;
  left:903px;
  top:322px;
  width:57px;
  height:16px;
}
#u19088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19089 {
  position:absolute;
  left:404px;
  top:414px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19090 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19091 {
  position:absolute;
  left:404px;
  top:445px;
  width:62px;
  height:16px;
}
#u19092 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u19093 {
  position:absolute;
  left:476px;
  top:441px;
  width:273px;
  height:25px;
}
#u19093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19094 {
  position:absolute;
  left:404px;
  top:480px;
  width:57px;
  height:16px;
}
#u19095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19096 {
  position:absolute;
  left:476px;
  top:476px;
  width:198px;
  height:25px;
}
#u19096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19097 {
  position:absolute;
  left:727px;
  top:477px;
  width:22px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u19098 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u19099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19099 {
  position:absolute;
  left:695px;
  top:477px;
  width:22px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u19100 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u19101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19101 {
  position:absolute;
  left:404px;
  top:516px;
  width:62px;
  height:16px;
}
#u19102 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u19103 {
  position:absolute;
  left:476px;
  top:512px;
  width:273px;
  height:25px;
}
#u19103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19103_ann {
  position:absolute;
  left:742px;
  top:508px;
  width:1px;
  height:1px;
}
#u19104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19104 {
  position:absolute;
  left:404px;
  top:551px;
  width:57px;
  height:16px;
}
#u19105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19106 {
  position:absolute;
  left:476px;
  top:547px;
  width:273px;
  height:25px;
}
#u19106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19107 {
  position:absolute;
  left:404px;
  top:595px;
  width:57px;
  height:16px;
}
#u19108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19109 {
  position:absolute;
  left:476px;
  top:591px;
  width:273px;
  height:25px;
}
#u19109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19110 {
  position:absolute;
  left:768px;
  top:632px;
  width:57px;
  height:16px;
}
#u19111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19112 {
  position:absolute;
  left:840px;
  top:632px;
  width:140px;
  height:22px;
}
#u19112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19112_input:disabled {
  color:grayText;
}
#u19113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19113 {
  position:absolute;
  left:768px;
  top:440px;
  width:212px;
  height:127px;
}
#u19114 {
  position:absolute;
  left:2px;
  top:56px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19115 {
  position:absolute;
  left:768px;
  top:591px;
  width:57px;
  height:16px;
}
#u19116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19117 {
  position:absolute;
  left:898px;
  top:582px;
  width:82px;
  height:29px;
}
#u19118 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u19119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19119 {
  position:absolute;
  left:404px;
  top:633px;
  width:57px;
  height:16px;
}
#u19120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19121 {
  position:absolute;
  left:476px;
  top:632px;
  width:273px;
  height:22px;
}
#u19121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19121_input:disabled {
  color:grayText;
}
#u19122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19122 {
  position:absolute;
  left:866px;
  top:689px;
  width:114px;
  height:40px;
}
#u19123 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u19124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19124 {
  position:absolute;
  left:3px;
  top:689px;
  width:114px;
  height:40px;
}
#u19125 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
