body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:338px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:160px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20573 {
  position:absolute;
  left:68px;
  top:30px;
  width:338px;
  height:160px;
}
#u20574 {
  position:absolute;
  left:10px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
