body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1050px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:569px;
}
#u19884 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:569px;
}
#u19885 {
  position:absolute;
  left:2px;
  top:276px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:207px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19886 {
  position:absolute;
  left:360px;
  top:175px;
  width:327px;
  height:207px;
}
#u19887 {
  position:absolute;
  left:2px;
  top:96px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:33px;
  background:inherit;
  background-color:rgba(12, 98, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19888 {
  position:absolute;
  left:360px;
  top:142px;
  width:327px;
  height:33px;
}
#u19889 {
  position:absolute;
  left:2px;
  top:8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19890 {
  position:absolute;
  left:447px;
  top:197px;
  width:218px;
  height:38px;
}
#u19890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19891 {
  position:absolute;
  left:447px;
  top:246px;
  width:218px;
  height:38px;
}
#u19891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19892 {
  position:absolute;
  left:394px;
  top:207px;
  width:29px;
  height:16px;
}
#u19893 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19894 {
  position:absolute;
  left:394px;
  top:257px;
  width:29px;
  height:16px;
}
#u19895 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19896 {
  position:absolute;
  left:447px;
  top:295px;
  width:76px;
  height:16px;
}
#u19897 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u19896_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19898 {
  position:absolute;
  left:556px;
  top:295px;
  width:76px;
  height:16px;
}
#u19899 {
  position:absolute;
  left:16px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u19898_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19900 {
  position:absolute;
  left:549px;
  top:338px;
  width:117px;
  height:27px;
}
#u19901 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u19902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19902 {
  position:absolute;
  left:394px;
  top:338px;
  width:117px;
  height:27px;
}
#u19903 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u19904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19904 {
  position:absolute;
  left:970px;
  top:5px;
  width:30px;
  height:30px;
}
#u19905 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19904_ann {
  position:absolute;
  left:993px;
  top:1px;
  width:1px;
  height:1px;
}
