body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:850px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11949 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:580px;
}
#u11950 {
  position:absolute;
  left:2px;
  top:282px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u11952 {
  position:absolute;
  left:30px;
  top:16px;
  width:818px;
  word-wrap:break-word;
}
#u11953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u11953 {
  position:absolute;
  left:808px;
  top:14px;
  width:22px;
  height:22px;
  color:#666666;
}
#u11954 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  word-wrap:break-word;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11955 {
  position:absolute;
  left:638px;
  top:520px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11955_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
}
#u11955.mouseDown {
}
#u11956 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u11957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11957 {
  position:absolute;
  left:730px;
  top:520px;
  width:80px;
  height:35px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u11959 {
  position:absolute;
  left:20px;
  top:129px;
  width:815px;
  height:366px;
}
#u11960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:41px;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:41px;
}
#u11961 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:41px;
}
#u11962 {
  position:absolute;
  left:54px;
  top:0px;
  width:98px;
  height:41px;
}
#u11963 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:41px;
}
#u11964 {
  position:absolute;
  left:152px;
  top:0px;
  width:174px;
  height:41px;
}
#u11965 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u11966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u11966 {
  position:absolute;
  left:326px;
  top:0px;
  width:100px;
  height:41px;
}
#u11967 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u11968 {
  position:absolute;
  left:426px;
  top:0px;
  width:107px;
  height:41px;
}
#u11969 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u11970 {
  position:absolute;
  left:533px;
  top:0px;
  width:107px;
  height:41px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
}
#u11972 {
  position:absolute;
  left:640px;
  top:0px;
  width:107px;
  height:41px;
}
#u11973 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:41px;
}
#u11974 {
  position:absolute;
  left:747px;
  top:0px;
  width:63px;
  height:41px;
}
#u11975 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u11976 {
  position:absolute;
  left:0px;
  top:41px;
  width:54px;
  height:40px;
}
#u11977 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u11978 {
  position:absolute;
  left:54px;
  top:41px;
  width:98px;
  height:40px;
}
#u11979 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u11980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u11980 {
  position:absolute;
  left:152px;
  top:41px;
  width:174px;
  height:40px;
}
#u11981 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u11982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11982 {
  position:absolute;
  left:326px;
  top:41px;
  width:100px;
  height:40px;
}
#u11983 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u11984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u11984 {
  position:absolute;
  left:426px;
  top:41px;
  width:107px;
  height:40px;
}
#u11985 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u11986 {
  position:absolute;
  left:533px;
  top:41px;
  width:107px;
  height:40px;
}
#u11987 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u11988 {
  position:absolute;
  left:640px;
  top:41px;
  width:107px;
  height:40px;
}
#u11989 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u11990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u11990 {
  position:absolute;
  left:747px;
  top:41px;
  width:63px;
  height:40px;
}
#u11991 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u11992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u11992 {
  position:absolute;
  left:0px;
  top:81px;
  width:54px;
  height:40px;
}
#u11993 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u11994 {
  position:absolute;
  left:54px;
  top:81px;
  width:98px;
  height:40px;
}
#u11995 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u11996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u11996 {
  position:absolute;
  left:152px;
  top:81px;
  width:174px;
  height:40px;
}
#u11997 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u11998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11998 {
  position:absolute;
  left:326px;
  top:81px;
  width:100px;
  height:40px;
}
#u11999 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12000 {
  position:absolute;
  left:426px;
  top:81px;
  width:107px;
  height:40px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u12002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12002 {
  position:absolute;
  left:533px;
  top:81px;
  width:107px;
  height:40px;
}
#u12003 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12004 {
  position:absolute;
  left:640px;
  top:81px;
  width:107px;
  height:40px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12006 {
  position:absolute;
  left:747px;
  top:81px;
  width:63px;
  height:40px;
}
#u12007 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12008 {
  position:absolute;
  left:0px;
  top:121px;
  width:54px;
  height:40px;
}
#u12009 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12010 {
  position:absolute;
  left:54px;
  top:121px;
  width:98px;
  height:40px;
}
#u12011 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12012 {
  position:absolute;
  left:152px;
  top:121px;
  width:174px;
  height:40px;
}
#u12013 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u12014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12014 {
  position:absolute;
  left:326px;
  top:121px;
  width:100px;
  height:40px;
}
#u12015 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12016 {
  position:absolute;
  left:426px;
  top:121px;
  width:107px;
  height:40px;
}
#u12017 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12018 {
  position:absolute;
  left:533px;
  top:121px;
  width:107px;
  height:40px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12020 {
  position:absolute;
  left:640px;
  top:121px;
  width:107px;
  height:40px;
}
#u12021 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12022 {
  position:absolute;
  left:747px;
  top:121px;
  width:63px;
  height:40px;
}
#u12023 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u12024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:161px;
  width:54px;
  height:40px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12026 {
  position:absolute;
  left:54px;
  top:161px;
  width:98px;
  height:40px;
}
#u12027 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12028 {
  position:absolute;
  left:152px;
  top:161px;
  width:174px;
  height:40px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12030 {
  position:absolute;
  left:326px;
  top:161px;
  width:100px;
  height:40px;
}
#u12031 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12032 {
  position:absolute;
  left:426px;
  top:161px;
  width:107px;
  height:40px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12034 {
  position:absolute;
  left:533px;
  top:161px;
  width:107px;
  height:40px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12036 {
  position:absolute;
  left:640px;
  top:161px;
  width:107px;
  height:40px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12038 {
  position:absolute;
  left:747px;
  top:161px;
  width:63px;
  height:40px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12040 {
  position:absolute;
  left:0px;
  top:201px;
  width:54px;
  height:40px;
}
#u12041 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12042 {
  position:absolute;
  left:54px;
  top:201px;
  width:98px;
  height:40px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12044 {
  position:absolute;
  left:152px;
  top:201px;
  width:174px;
  height:40px;
}
#u12045 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u12046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12046 {
  position:absolute;
  left:326px;
  top:201px;
  width:100px;
  height:40px;
}
#u12047 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12048 {
  position:absolute;
  left:426px;
  top:201px;
  width:107px;
  height:40px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12050 {
  position:absolute;
  left:533px;
  top:201px;
  width:107px;
  height:40px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12052 {
  position:absolute;
  left:640px;
  top:201px;
  width:107px;
  height:40px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12054 {
  position:absolute;
  left:747px;
  top:201px;
  width:63px;
  height:40px;
}
#u12055 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12056 {
  position:absolute;
  left:0px;
  top:241px;
  width:54px;
  height:40px;
}
#u12057 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12058 {
  position:absolute;
  left:54px;
  top:241px;
  width:98px;
  height:40px;
}
#u12059 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12060 {
  position:absolute;
  left:152px;
  top:241px;
  width:174px;
  height:40px;
}
#u12061 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  word-wrap:break-word;
}
#u12062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12062 {
  position:absolute;
  left:326px;
  top:241px;
  width:100px;
  height:40px;
}
#u12063 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12064 {
  position:absolute;
  left:426px;
  top:241px;
  width:107px;
  height:40px;
}
#u12065 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12066 {
  position:absolute;
  left:533px;
  top:241px;
  width:107px;
  height:40px;
}
#u12067 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12068 {
  position:absolute;
  left:640px;
  top:241px;
  width:107px;
  height:40px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u12070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12070 {
  position:absolute;
  left:747px;
  top:241px;
  width:63px;
  height:40px;
}
#u12071 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u12072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12072 {
  position:absolute;
  left:0px;
  top:281px;
  width:54px;
  height:40px;
}
#u12073 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12074 {
  position:absolute;
  left:54px;
  top:281px;
  width:98px;
  height:40px;
}
#u12075 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12076 {
  position:absolute;
  left:152px;
  top:281px;
  width:174px;
  height:40px;
}
#u12077 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12078 {
  position:absolute;
  left:326px;
  top:281px;
  width:100px;
  height:40px;
}
#u12079 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12080 {
  position:absolute;
  left:426px;
  top:281px;
  width:107px;
  height:40px;
}
#u12081 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12082 {
  position:absolute;
  left:533px;
  top:281px;
  width:107px;
  height:40px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12084 {
  position:absolute;
  left:640px;
  top:281px;
  width:107px;
  height:40px;
}
#u12085 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12086 {
  position:absolute;
  left:747px;
  top:281px;
  width:63px;
  height:40px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u12088 {
  position:absolute;
  left:0px;
  top:321px;
  width:54px;
  height:40px;
}
#u12089 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u12090 {
  position:absolute;
  left:54px;
  top:321px;
  width:98px;
  height:40px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u12092 {
  position:absolute;
  left:152px;
  top:321px;
  width:174px;
  height:40px;
}
#u12093 {
  position:absolute;
  left:2px;
  top:12px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12094 {
  position:absolute;
  left:326px;
  top:321px;
  width:100px;
  height:40px;
}
#u12095 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12096 {
  position:absolute;
  left:426px;
  top:321px;
  width:107px;
  height:40px;
}
#u12097 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12098 {
  position:absolute;
  left:533px;
  top:321px;
  width:107px;
  height:40px;
}
#u12099 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u12100 {
  position:absolute;
  left:640px;
  top:321px;
  width:107px;
  height:40px;
}
#u12101 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
}
#u12102 {
  position:absolute;
  left:747px;
  top:321px;
  width:63px;
  height:40px;
}
#u12103 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104 {
  position:absolute;
  left:40px;
  top:144px;
  width:30px;
  height:16px;
}
#u12105 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12106 {
  position:absolute;
  left:40px;
  top:183px;
  width:30px;
  height:16px;
}
#u12107 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12108 {
  position:absolute;
  left:40px;
  top:223px;
  width:30px;
  height:16px;
}
#u12109 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12110 {
  position:absolute;
  left:40px;
  top:262px;
  width:30px;
  height:16px;
}
#u12111 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12112 {
  position:absolute;
  left:40px;
  top:301px;
  width:30px;
  height:16px;
}
#u12113 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12114 {
  position:absolute;
  left:40px;
  top:341px;
  width:30px;
  height:16px;
}
#u12115 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12116 {
  position:absolute;
  left:40px;
  top:380px;
  width:30px;
  height:16px;
}
#u12117 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12118 {
  position:absolute;
  left:20px;
  top:77px;
  width:71px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12118_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12118.mouseDown {
}
#u12119 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u12120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12120 {
  position:absolute;
  left:110px;
  top:76px;
  width:71px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12120_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u12120.mouseDown {
}
#u12121 {
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
