body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:610px;
}
#u21099 {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:610px;
}
#u21100 {
  position:absolute;
  left:2px;
  top:297px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
